<section id="sidebar">

    <!-- Intro -->
    <section id="intro">
        <a href="/" class="logo"><img src="/assets/images/rafael-ferreira-da-silva.jpg" alt=""/></a>
        <header>
            <h2>Rafael Ferreira da Silva</h2>
            <p style="margin-top: 1em">
                <strong>Ground Instructor</strong><br/>
            </p>
            <p>
                <strong>Private Aircraft Pilot</strong><br/>
                Single Engine Land
            </p>
        </header>

        <ul class="icons">
            <li>
                <a href="https://www.linkedin.com/in/rafaelfsilva" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a href="mailto:aviation@rafaelsilva.com">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
        </ul>

    </section>

    {% include footer.html %}

</section>


<!--<div class="sidebar">-->
<!--    <div class="author-container shadow">-->
<!--        <hr class="dashed">-->
<!--        <div>-->
<!--            <ul class="menu">-->
<!--                {% for item in site.data.main.menu %}-->
<!--                <li>-->
<!--                    <a {% if page.url== item.link %}class="active" {% endif %} href="{{item.link}}">{{item.title}}</a>-->
<!--                </li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
